#main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container{
    width: 400px;
    height: 300px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10%;
}

#heading{
    color: yellow;
    width: auto;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    background-color: brown;
    margin-top: 10px;
}

#input{
    border: 2px solid red;
border-radius: 5%;
width: 200px;
height: 20px;
}
#input:hover{
    border: 2px solid blue;
    color: red;
}

#submit{
    background-color: blue;
    color: whitesmoke;
    font: 1em sans-serif;
    border-radius: 10%;
}

#value{
    font: 1em sans-serif;
    margin-top: 3px;

}

.heading{
    text-align: center;
    color:gold;
    font: 2em sans-serif;
    font-style: italic;
}
body{
    background-color: darkslategrey;
}
#submit:hover{
background-color: green;
}

#footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.about{
    margin-left: 10px;
}